* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/*variables*/
:root {
    background: #385E72;
    --primary: #6aabd2;
    --secondary: #b7cfdc;
    --text: #d9e4ec;
    --gold: #fef400;
    font-size: 1.5rem;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
header {
    background: var(--primary);
    border-bottom: 5px solid var(--secondary);
    padding: 30px 25px;
    text-align: center;
}
header h1 {
    color: var(--text);
    margin-bottom: 5px;
    margin-top: 0;
    font-size: 4.5rem;
}
.page-content {
    margin: 25px auto;
    width: 95%;
  }
.btn {
    outline: none;
    border: none;
    display: inline-block;
    text-align: center;
    padding: 8px 13px;
    font-size: 1.8rem;
    border-radius: 12px;
    position: relative;
    top: -3px;
    box-shadow: 0 3px;
  }
.btn:hover {
    cursor: pointer;
    box-shadow: var(--primary);
    transform: scale(1.03);
  }
.btn:disabled:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}
#highScoresBtn {
    background-color: var(--gold);
    font-size: 1rem;
}
footer {
    width: 100%;
    background: var(--primary);
    border-top: 5px solid var(--secondary);
    padding: 20px;
    text-align: center;
}